@import url('https://fonts.googleapis.com/css?family=Maitree');
html {
  font-family: "Maitree";
}
.main-font-size {
  font-size: 18px;
}
.main-cover {
  background: white
}
.main-hover:hover {
  /* color: white */
}
.main-search-bar {
  background: white;
  border-color: #f5f4f4;
}
.main-posts-max-width {
  max-width: 700px;
}





