@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');
html {
  font-family: 'Roboto Mono', sans-serif;
  /* Maitree */
}
body {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}

.main-font-size {
  font-size: 16px;
  font-weight: 100;
}
.main-header-color {
  background: white
}
.main-footer-color {
  background: #F8F8F8
}
.main-hover:hover {
  color: #777777
}
.main-search-bar {
  background: #F8F8F8;
  border: none;
  border-color: #e0e0e0;
}
.main-posts-max-width {
  max-width: 700px;
}
.main-styled-link {
  text-decoration: none;
  color:  #777777;
  font-weight: bold
}
.main-clickable:hover {
  cursor: pointer;
}






