@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("~assets/fonts/source-sans-pro/source-sans-pro-v11-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

html {
  --yellow: yellow;
  background-color: #fafafa !important;
}

.navbar-brand h1 {
  font-family: "Source Sans Pro", sans-serif !important;
  letter-spacing: 7.5px;
}

.navbar-item {
  letter-spacing: 2.5px !important;
  font-weight: 100 !important;
}

.has-padding-12 {
  padding: 12px !important;
}

.min-height-80 {
  min-height: 80px !important;
}

.has-text-pink {
  color: pink;
}
.has-text-green {
  color: #baed91;
}

.image {
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .has-padding-8-on-mobile {
    padding: 8px !important;
  }
}
