html {
  /* background-color: #fafafa !important; */
}

/* Lazy load */

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 600ms;
}

/* Custom element styles */

.navbar-item {
  letter-spacing: 2.5px !important;
  font-weight: 100 !important;
}

/* Utils */

.has-padding-12 {
  padding: 12px !important;
}

.min-height-80 {
  min-height: 80px !important;
}

.card {
  background-color: whitesmoke !important;
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}
.card-footer {
  border: none !important;
}
.card-footer-item {
  border: none !important;
}

.navbar {
  margin-bottom: -20px;
}

@media only screen and (max-width: 500px) {
  .has-padding-8-on-mobile {
    padding: 8px !important;
  }
}
