html {
  background-color: #fafafa !important;
}

.navbar-item {
  letter-spacing: 2.5px !important;
  font-weight: 100 !important;
}

.has-padding-12 {
  padding: 12px !important;
}

.min-height-80 {
  min-height: 80px !important;
}

@media only screen and (max-width: 500px) {
  .has-padding-8-on-mobile {
    padding: 8px !important;
  }
}
